html {
  scroll-behavior: smooth;
}

body {
    /*background-color: #333;*/
    background-color: #000;
    font-family: 'Poppins','lato', sans-serif !important;
    outline: none;
}

img:focus, i:focus, a:focus, input, textarea, button {
    outline: none !important;
}

.subHead {
    text-align: center;
    width: 100%;
}

.subHead p {
    padding: 4%;
    font-size: 50;
    text-decoration: underline;
    line-height: 1.1;
}

.albName {
    padding: 0 3%;
}

.albName p {
    padding: 1% 0.5%;
    font-family: monospace;
    font-size: 20;
    border-bottom: 0.5px solid #333;
}

.songs {
    margin: 2% 5%;
    width: 90%;
}

.songs ul {
    list-style: none;
    display: inline-flex;
}

.songs ul li ul {
    height: 400px;
    width: 400px;
    overflow: hidden;
}

.songs ul li ul li {
    margin: 0 25%;
}

.songs span {
    position: relative;
    text-align: center;
}

.songs span p {
    font-size: 25;
    line-height: 50px;
    font-weight: bold;
    position: absolute;
    top: -1300%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.songs img {
    width: 20%;
    margin: 5% 6%;
    cursor: pointer;
    transition: 0.6s;
    opacity: 0.8;
}

.songs img:hover {
    transform: scale(1.2);
    opacity: 1;
}

.active {
    color:#d986ee !important;
    box-shadow:inset 0px -2px 0px 0px #d986ee;
}

.logo_without_bord {
    margin: 2%;
}

.nav_link {
    outline: none !important;
}

#social-in-menu {
    list-style: none;
    width: 23%;
    float: right;
    height: 100%;
    margin: 1%;
}

#social-in-menu a {
    color: #fff;
    text-decoration: none;
}

#social-in-menu i {
    filter: brightness(100);
    margin: 3%;
    opacity: 0.4;
    transition: 0.5s;
    font-size: 22;
}

#social-in-menu i:hover {
    opacity: 1;
}

.contact {
    margin: 3% 3%;
}

.contact .head {
    margin: 3% 0;
    text-transform: uppercase;
}

.contact input, .contact textarea {
    background-color: #ddd;
    border-radius: 10px;
    margin: 1% 0;
    width: 50%;
    color: #000;
}

.contact button {
    background-color: #754de0;
    padding: 1%;
    margin: 1% 0;
    border-radius: 50px;
    text-transform: uppercase;
    box-shadow: 0px 0px 2px 1px #754de0;
}

.heroImg {
    margin-top: 1%;
    width: 100%;
}

.heroImg img {
    width: 100%;
}

.about img {
    width: 20%;
    margin: 3%;
    border-radius: 50px;
    float: left;
}

.about .content {
    margin-top: 5%;
}

.about p {
    margin: 3%;
}

.logo_bg {
    top: 0;
    z-index: -1;
    width: 100%;
}

.logo_bg img {
    width: 100%;
    animation: fadeIn 5s 0s;
}

.translu {
    position: absolute;
    opacity: 0.2;
    animation: none;
}

.streamIcons {
    position: fixed;
    right: 0;
    margin: 10% 5%;
    height: 70%;
}

.streamIcons ul {
    list-style: none;
}

.streamIcons i {
    font-size: 35;
    filter: brightness(100);
    padding: 50%;
}

.streamIcons a {
    text-decoration: none;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
}

#newd29 {
    transform: scale(1.4);
}

#newd29:hover {
    transform: scale(1.7);
}

.alb_list_container {
    margin: 3% 0;
    width: 100%;
    text-align: center;
}

.alb_list {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
}

.alb_list span {
    margin: 3%;
    cursor: pointer;
}

.alb_list span a:hover {
    color: #754de0;
}

.topnavmob {
    display: none;
}

#page_container {
    position: relative;
    min-height: 100vh;
}

#content_wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

.copyright {
    background-color: #333;
    position: absolute;
    bottom: 0;
    width: 100%;           /* Footer height */
}

.copyright p {
    text-align: center;
    padding: 1% 0;
}

@media screen and (max-width: 960px) {
    #social-in-menu {
        display: none;
    }
    /* Style the navigation menu */
    .topnavmob {
        display: block;
        overflow: hidden;
        background-color: #000;
        position: relative;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnavmob #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnavmob a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    /* Style the hamburger menu */
    .topnavmob a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnavmob i {
        margin: 0;
    }

    /* Style the active link (or home/logo) */
    .activeHam {
        background-color: #000;
        color: white;
    }

    .contact input, .contact textarea {
        background-color: #ddd;
        border-radius: 10px;
        margin: 4% 0;
        width: 100%;
    }

    .translu {
        display: none;
    }
  
    .subHead p {
        font-size: 30;
    }

    .songs span p {
        font-size: 20;
        line-height: 1.5;
        top: -1000%;
    }
}


@media screen and (max-width: 800px) {
    .songs span p {
        font-size: 16;
        line-height: 1.5;
        top: -800%;
    }
  
    #social-in-menu {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .songs span p {
        font-size: 16;
        line-height: 1.5;
        top: -600%;
    }

    .alb_list_container {
        display: none;
    }
    
    .alb_list {
        display: none;
    }  
}

@media screen and (max-width: 480px) {
    .songs span p {
        font-size: 13;
        line-height: 1.5;
        top: -400%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
